.description {
    font-family: system-ui;
    line-height: 1.5;
    font-size: 1.125rem;
    width: min(120ch,100% - 4rem);
    margin-inline: auto;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    margin-top: 2rem;
    margin-inline: auto;
}

h1,h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.btton {
    margin-inline: auto;
    margin-bottom: 2rem;
}