header {
    background: white;
    transition: var(--transition);
}

small {
    margin-bottom: 2rem
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .header__profile {
    height: fit-content;
    border-radius: 9rem 9rem 2rem 2rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    width: 18rem;
    height: 22rem;
}

.MeImg {
width: 20rem;

} */

.header__container p {
    width: 35rem;
    text-align: center;
    margin: 0.6rem 0 2rem;
}

.header__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header__socials {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.header__socials a {
    width: 3rem;
    color: black;
    aspect-ratio: 1/1;
    background: var(--col-light);
    border-radius: var(--border-radius-3);
    place-items: center;
}

.header__socials a:hover {
    background: var(--primary);
    color: white;
    transform: translateY(-0.5rem);
}

@media screen and (max-width: 1024px) {
    header {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .header__profile {
        width: 14rem;
        height: 17rem;
        max-width: 60%;
        max-height: 35vh;
    }

    .header__container p {
        width: 100%;
    }

    .header__cta {
        gap: 1rem;
    }

    .header__socials {
        display: none;
    }
}