@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary: hsl(270, 89%, 41%);
  --col-light: hsl(270, 5%, 94%);
  --col-dark: hsl(270, 5%, 44%);

  --container-width-big: 76%;
  --container-width-med: 90%;

  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  --transition: all 500ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.6;
  font-size: 0.9rem;
  height: 100%;
  width: 100%;
}

.container {
  width: var(--container-width-big);
  margin-inline:  auto;
  max-width: 1920px;
}

section {
  padding: 10rem 0;
  background: lightgrey;
  transition: var(--transition);
  height: fit-content;
}

section:nth-child(even) {
  background: white;
}

section > h2 {
  text-align: center;
}

section > p {
  text-align: center;
  margin: 0.5rem auto 0.4rem;
  width: 40%;
}

a {
  color: white; 
  transition: var(--transition);
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
  color: black;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.95rem;
}

h6 {
  font-size: 0.8rem;
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.Button {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--col-light);
  color: black;
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

.Button:hover {
  background-color: transparent;
  border-color: var(--col-light);
  transform: translateY(-0.5rem);
}

.Button.white {
  background: white;
}

.Button.white:hover {
  background: transparent;
  border-color: white;
}

.Button.primary {
  background: var(--primary);
  color: white;
}

.Button.primary:hover {
  background: transparent;
  color: black;
  border-color: var(--primary);
}

.Button.small {
  padding: 0.5rem 1.2rem;

}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }

  .container {
    width: var(--container-width-med);
  }

  section {
    padding: 8rem 0;
  }

  section > p {
    width: 72%;
    margin-bottom: 3rem;
  }

  h1{
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1rem;
  }
  .btn {
    padding: 0.6rem 1.5rem
  }

  section > p {
    width: var(--container-width-med);
  }
}